.job {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 4rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--shadow);
    max-height: 15.2rem;
    gap: 8rem;
}

.job--left {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    align-items: center;
}

.job--right .btn-filter:not(:last-child){
    margin-right: 1.6rem;
}

.job__info {
    text-align: left;
}

.job-logo img {
    display: block;
}

.job__company {
    margin-bottom: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.job__company .heading--h3 {
    margin-right: 1.5rem;
}

.job__company .span--new {
    margin-right: 0.8rem;
}

.job__position {
    margin-bottom: 0.7rem;
}

.job__aditional-info .span{
    margin-right: 1.6rem;
}

@media only screen and (max-width: 1200px) {
    .job {
        max-height: 16.5rem;
    }
}

@media only screen and (max-width: 1050px) {
    .job {
        padding-right: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    .job {
        max-height: none;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        gap: 0;
        padding: 3.2rem 2.4rem 0.8rem;
    }

    .job--left {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid var(--color-border);
        width: 100%;
    }

    .job--left .job__logo {
        position: absolute;
        max-width: 4.8rem;
        top: -10%;
    }

    .job--left .job__logo img {
        width: 100%;
    }

    .job--right {
        text-align: start;
        margin-top: 1.5rem;
    }

    .job__company .heading--h3 {
        margin-right: 3rem;
    }

    .job__aditional-info {
        margin-bottom: 1.5rem;
        display: flex;
        flex-wrap: wrap;
    }

    .job__company {
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    .job--right .btn-filter {
        margin-bottom: 1.6rem;
    }
}