.filters-container {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
    margin-bottom: 4rem;
}

.jobs-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.filters-buttons {
    display: flex;
    gap: 1.6rem;
    flex: 1;    
}

.filters-btn-clear {
    display: flex;
    align-items: center;
}

.btn-clear-filters {
    position: relative;
    border: none;
    background-color: transparent;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.123077px;
    cursor: pointer;
    color: var(--color-dark-cyan);
    height: fit-content;
    transition: all 0.3s ease;
}

.btn-clear-filters::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

.btn-clear-filters:hover {
    color: var(--color-primary);
}

.btn-clear-filters:hover.btn-clear-filters::after {
    transform: scaleX(1);
}

.btn-remove-filter {
    font-family: var(--font-main);
    color: var(--color-primary);
    background-color: var(--color-light-cyan-background);
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden; 
    max-height: 3.2rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: -0.123077px;
}

.btn-remove-filter span{
    display: inline-block;
    padding: 5px 11px 3px 8px;
}

.remove-icon {
    cursor: pointer;
    background-color: var(--color-primary);   
    width: 3.2rem;
    height: 3.2rem;    
    transition: all .3s ease;
}

.remove-icon:hover {
    background-color: var(--color-very-dark-cyan);   
}

.remove-icon path {   
    fill: #fff;
    transform: translate(29%, 29%);
}

.container.translate {
    transform: translateY(-11.2rem);
}

@media only screen and (max-width: 800px) {
    .filters-buttons {
        flex-wrap: wrap;
    }

    .filters-container {
        flex-wrap: wrap;
        gap: 5rem;
    }

    .container.translate {
        transform: translateY(-9.2rem);
    }

    .jobs-container {
        gap: 4rem;
    }
}
/* 
.remove-icon use {
    fill: blue;
    background-color: var(--color-primary);
} */