.App {
  text-align: center;
}

.App-header {
  color: white;
  max-height: 15.6rem;
  height: 15.6rem;
  background-image: url('./images/bg-header-desktop.svg');
  background-color: var(--color-primary);
  margin-bottom: 7.6rem;
}

.container {
  max-width: 111rem;
  margin: 0 auto;
}